<html>
    <head>
        <title>
            <%= name %> Profile
        </title>
    </head>
    <body>
        <h1>
            <%= name %>'s Profile
        </h1>
        <h3>
            Email : <%= email %>
        </h3>
        <h2>
            Change Password
            <form action="/change" method="POST">
                <input type="password" name="current" placeholder="Enter the current password" required>
                <input type="password" name="new" placeholder="Enter the new password" required>
                <input type="password" name="repeat" placeholder="Confirm the new password" required>
                <input type="submit" value="submit">
            </form>
        </h2>
        <h3>
            <a href="http://localhost:8000/logout">Log-Out</a>
        </h3>
    </body>
</html>